*{
    font-family: sans-serif;
    color: black;
}

html{
    background-color: #ddd;
    scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

summary{
    font-weight: bold;
    font-size: x-large;
}

figcaption{
    background-color: green;
    color: white;
    width: auto;
    height: auto;
    padding: 10px;
}

figure {
    border: thin #c0c0c0 solid;
    padding: 5px;
}

.figContainer{
    display: flex;
    flex-direction: row;
}