/*fk css*/

* {
    font-family: sans-serif;
    color: black;
}

body.dark html {
    background-color: #222
}

body.dark * {
    color: white
}

html {
    background-color: #ddd;
    scroll-behavior: smooth;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

figcaption {
    background-color: green;
    color: white;
    width: auto;
    height: auto;
    padding: 10px;
}

figure {
    border: thin #c0c0c0 solid;
    padding: 5px;
}

.figContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin-top: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}